/*colores*/

$principal: #d3a7e4;
$secundario: #373534;


$primary: $principal;
$secondary:$secundario;

.btn{
    border: solid 1px white;
    --bs-btn-hover-color: $principal;
}
.btn-secondary {
    --bs-btn-hover-bg: #d3a7e4 ;
  }

  

  $list-group-border-color: transparent;

@import "../node_modules/bootstrap/scss/bootstrap";

