
:root{
  --main-color: #d3a7e4;
}
body{
  position: relative;
}

*{
  box-sizing:border-box;
  margin: 0; 
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.navbarborder{
    border-bottom: solid 3px black;
}

.nav-link:hover{
  color: var(--main-color);
}
.nav-link:active{
  color: var(--main-color);
}

/*IMAGENES*/
#logo{
  width:98.4px; 
  height:67.2px;
}
#imagen-ejemplo{
  width: 100%;
  max-width: 400px;
}
/*CAROUSEL DE IMAGENES*/
.carousel-inner img{
  max-height: 70vh;
  object-fit: cover;
  filter:grayscale(70%);
}
#carousel{
  position: relative;
}

#carousel .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0,0.5);
  color: white;
}
#carousel .overlay .container, #carousel .overlay .row {
  height: 100%;
}

/*BOTONES*/
#contratar-button{
    color: white;
    border-radius: 16px;
    border: 3.5px solid var(--main-color);
    background-color: var(--main-color);
}
#contratar-button:hover{
    color: var(--main-color);
    background-color: transparent;
    border-radius: 16px;
    border: 3.5px solid var(--main-color);
    
}

/*Boton contratar*/
.containerbtn {
    width: 180px;
    height: 60px;
    position: absolute;

    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .center {
    width: 180px;
    height: 60px;
    position: relative;
  }
  
  .contractbtn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 2px solid white;
    outline: none;
    transition: 1s ease-in-out;
  }
  .custom-btn {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: var(--main-color);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .contractbtn:hover {
    transition: 1s ease-in-out;
  }
  .contractbtn:active{
    transition: .2s ease-in-out;
    background-color: var(--main-color);
  }
  
  .contractbtn:hover .custom-btn {
    stroke-dashoffset: -480;
  }
  
  .contractbtn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

  .contractbtnout {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #373435;
    outline: none;
    transition: 1s ease-in-out;
  }
  .center {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    outline: none;
    transition: 1s ease-in-out;
  }
  .contractbtnout:hover {
    transition: 1s ease-in-out;
    background: #373435;
  }
  
  .contractbtnout:hover .custom-btn {
    stroke-dashoffset: -480;
  }
  
  .contractbtnout span {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 100;
  }
  .contractbtnout:hover > span {
    transition: 1s ease-in-out;
    color: white;
  }
  .containerbtnout {
    height: 100px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
/*CONOCENOS SECTION*/

.align-items-responsive{
  display: flex;
  align-items: center;
}

/*PAQUETES SECTION*/
.packbtn{
  background-color: transparent;
  border: solid 2px white;
  color: white;
  width: 100%;
  max-width: 150px;
  max-height: 100px;
  border-radius: 4px;
}
.packbtn:hover{
  transition: .5s ease-in-out;
  background-color: var(--main-color);
  color: #373435;
  border: solid 2px #373435;
  box-shadow:  1px 1px 1px  #d3a7e48f;
  -webkit-box-shadow: 0px 0px 10px 0px #d3a7e48f;
-moz-box-shadow: 0px 0px 10px 0px #d3a7e48f;
box-shadow: 0px 0px 10px 0px #d3a7e48f;
}
.packbtn:active{
  transition: .1s ease-in-out;
  background-color: #d3a7e48f;
  color: #373435;
  border: solid 2px #373435;
  box-shadow:  1px 1px 1px  #d3a7e48f;
}

.special {
  -webkit-box-shadow: 0px 0px 19px 7px rgba(240, 225, 14, 0.628);
-moz-box-shadow: 0px 0px 19px 7px rgba(240, 225, 14, 0.628);
box-shadow: 0px 0px 19px 7px rgba(240, 225, 14, 0.628);
}

.final-sect{
  background-color: var(--main-color);
  min-height: 30vh;
  color: white;
}

.final-sect div img{
  margin-left: 5%;
  margin-right: 5%;
  width: 30%;
  max-width: 200px;

  
}

/*FOOTER*/

.map{
  width: 100%;
  height: 100%;
  max-width: 700px;
  display: block;
  margin: auto;
}

.svg-contact-icon{
  width: 20px;
  height: 20px;
  margin: .5rem;
}
