.navbarborder{
    border-bottom: solid 3px black;
}
/*IMAGENES*/
#logo{
  width:98.4px; 
  height:67.2px;
}
#imagen-ejemplo{
  width: 100%;
  max-width: 400px;
}
/*CAROUSEL DE IMAGENES*/
.carousel-inner img{
  max-height: 70vh;
  object-fit: cover;
  filter:grayscale(70%);
}
#carousel{
  position: relative;
}

#carousel .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0,0.5);
  color: white;
}
#carousel .overlay .container, #carousel .overlay .row {
  height: 100%;
}

/*BOTONES*/
#contratar-button{
    color: #d3a7e4;
}
#contratar-button:hover{
    color: #000000;
}

/*Boton contratar*/
.containerbtn {
    width: 180px;
    height: 60px;
    position: absolute;

    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 180px;
    height: 60px;
    position: relative;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #d3a7e4;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
  .btnout {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #373435;
    outline: none;
    transition: 1s ease-in-out;
  }
  .center {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    outline: none;
    transition: 1s ease-in-out;
  }
  .btnout:hover {
    transition: 1s ease-in-out;
    background: #373435;
  }
  
  .btnout:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btnout span {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 100;
  }
  .btnout:hover > span {
    transition: 1s ease-in-out;
    color: white;
  }
  .containerbtnout {
    height: 100px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
/*CONOCENOS SECTION*/


.align-items-responsive{
  display: flex;
  align-items: center;
}
  